/* Resetters and Setters */
.d-flex {
  display: flex;
}
.f-basis{
  flex-basis: 100%;
}
.f-flow-column {
  flex-flow: column nowrap;
}
.f-flow-row {
  flex-flow: row nowrap;
}
.justifyEnd {
  justify-content: flex-end;
}
.hidden {
  height: 0;
  opacity: 0;
}
.align-center{
  align-items: center;
}
.align-left{
  align-items: flex-start;
}
.align-self-center{
  align-self: center;
}
.align-self-right{
  align-self: flex-end;
}
.flex11auto {
  flex:1 1 auto;
}
input {
  width: 100%;
  padding: 5px;
  font-family: Lato, sans-serif;
  font-size: 125%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  box-sizing: border-box;
}
hr {
  width: 100%;
    border: 0;
    border-top: 1px solid #77e364;
    border-bottom: 1px solid #3bc224;
    margin: 20px 0;
}
h6 {
  font-size: 96%;
  text-transform: uppercase;
}
/* Stylers */
.add-code-input-tab {
  position: absolute;
  top: -31px;
  left: 31px;
  background: rgba(65,223,78,.90);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 15px 5px 14px;
  font-size: 118%;
  text-transform: uppercase;
  font-weight: bolder;
  color: #f2f2f2;
}

/* .add-code-input-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(65,223,78,.90);
  width: 100%;
  z-index: 1;
  color:#eee;
} */
.add-code-input-wrapper{
  /* flex-basis: 100%;
  padding:0 33px; */
  /* height: 165px; */
  /* min-height: 250px;
  max-height: 250px; */
    overflow-y: auto;
    overflow-x: hidden;
}


.codeFormWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
    height: auto;
    /* top: 20px; */
    position: relative;
}
.codeFormWrapper div > h2{
  font-size: 162%;
  font-weight: 400;
}
.codeFormWrapper div > h2:nth-child(2){
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 0;

}
/* .codeFormWrapper  div > span{
  display: inherit;
  padding: 5px 0 15px;
} */
/* .codeFormWrapper  div > button{
margin:15px 0px 0;
padding:10px 0;
font-weight: bold;
font-size:125%;
text-transform: uppercase;
background-color:#269206;
color:#f2f2f2;
border: none;
} */

.editButton,.lockedButton, .editBC {
  margin:0;
  padding: 0 18px;
  font-size: 78%;
  text-transform: uppercase;
  background-color: #269206;
  color: #f2f2f2;
  border: none;
  height: 25px;
}
.lockedButton {
  background-color: rgba(44,144,26,.39);
  color: rgba(242,242,242,.49);
}

.codeFormWrapper div > button:nth-child(10){
  margin-bottom:15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.add-code-input-close {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 17px;
}
.editable{
  height: 18px;
  display: flex;
  align-content: center;
}
.editable > input {
  width:15px;
  margin: 0;
}
.stepTwoTab {
  text-transform: uppercase;
  font-size:42px;
  font-weight: 900;
}
.stepTwoTab p{
  font-size: 19.2px;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 400;
}
.stepTwoTab p:nth-child(2){
  font-size: 14px;
  line-height: 1.25;
  text-transform: initial;
  font-weight: 400;
}
.editCategory{
  margin: 15px 0;
}
input:disabled, textarea:disabled {
  color: rgba(84, 84, 84, .49);
}
.fa-angle-double-right {
  padding: 0 15px;
}
.btnWrapper{
  padding-right: 5px;
}
.noWrap {
  white-space: nowrap;
}
.editSubCategory {
  margin: 0;
  padding: 0;
}
.addCodeContent {
  padding-right: 20px;
}
.addCodeContent > div {
  display: flex;
  flex-direction: column;
}
.addCodeContent > div > h2 {
    font-size: 162%;
    font-weight: 800;
    text-transform: uppercase;
}
.addCodeContent > div > p {
  padding: 10px 0 0;
}
.addCodeContent > div > div:nth-child(5) > select {
  width: 100%;
  padding: 5px;
  font-family: Lato, sans-serif;
  font-size: 125%;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  color: #5e5e5e;
}
.addCodeContent > div > div:nth-child(5) > textarea {
  width: 100%;
  font-size: 79%;
  margin: 15px 0;
  min-height: 175px;
  background: #5e5e5e;
  color: chartreuse;
}
.childrenTitleEx{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 62%;
}
