<ul>
    <li>
        <div [ngClass]="{editTopic: editing}" >{{subtopics.title}}</div>
        <div *ngIf="!subtopics.static">
        <button type="button" (click)="onEdit()">{{editing ? 'Done': 'Edit'}}</button>
        <button type="button" (click)="onRemove()">{{editing ? 'Done': 'Remove'}}</button>
      </div>
        <!-- <div *ngIf="!subtopics.static">
            <input type="text" *ngIf="editing" [value]="subtopics.title" (input)="onNameChange(subTopicName.value)" #subTopicName />
            <button type="button" (click)="onEdit()">{{editing ? 'Done': 'Edit'}}</button>
            <button type="button" (click)="onRemove()">{{editing ? 'Done': 'Remove'}}</button>
        </div> -->
    </li>
</ul>
<div>
    <div class="editPanel" *ngIf="!subtopics.static">
        <input type="text" *ngIf="editing" [value]="subtopics.title" (input)="onNameChange(subTopicName.value)" #subTopicName />
        <button type="button" (click)="onEdit()">{{editing ? 'Done': 'Edit'}}</button>
        <button type="button" (click)="onRemove()">{{editing ? 'Done': 'Remove'}}</button>
    </div>
</div>
